 body {
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
    }

.grid-container {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;
}

   

   @media (min-width: 768px) and (max-width: 1024px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
   @media (min-width: 1025px) {
      .grid-container {
        grid-template-columns: repeat(4, 1fr);
      }
    }

 .grid-item {
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      background-color: #fff;
    
    }

    .grid-item img {
      width: 100%;
      height: auto;
    }

    .grid-item h3 {
      margin: 10px 0;
      font-size: 18px;
    }
    
    .grid-item p {
      margin: 0 0 10px;
      font-size: 16px;
      color: green;
      font-weight: bold;  
    }

   
