

h1 {
  color: #02366a;
  ;
}

h2 {
  color: #005599;
  margin-top: 30px;
}


.paragraf {
background-color: rgb(169, 242, 242);
 
}


.image_1 {
  width: 350px;
}

.image_2 {
  width: 350px;
}

.body {
  background-color: antiquewhite;
}





 