.grid-conteiner {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 100px 400px;
    grid-gap: 10px;
    border: 2px solid red;
    padding: 10px;

}

.grid-item {
    background-color: #4e9aa4;
    color: white;
    padding: 20px;
    font-size: 1,5em;
    text-align: center;

}