.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   

}

.flex-item {
    background-color: rgb(15, 90, 112);
    color: white;
    padding: 20px;
    
    font-size: 1,5em;

}

