body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 150px 150px 20px;
    background-color: rgb(219, 244, 244);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 150px);
    border: 20px solid white;
    gap: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   

}

.grid-item {
    background-color: #0e4a52;
    color: white;
    padding: 20px;
    font-size: 1,5em;
    border-radius: 8px;
    text-align-last: center;

}